/* user端全局公用的样式 */
@import './normalize.css';
/* @import './variable.css'; */
@import './rucksack.css';
@import './mixin.css';

:global {
  html, body {
    width: 100%;
    height: 100%;
    fs: $font-size-base;
    c: $color-gray-base;
  }
  a {
    text-decoration: none;
    c: $color-gray-base;
  }

  span.menu-item{
    fs: $font-size-h5;
    cursor: pointer;
    padding: 0 20px;
    &:hover>a{
      c: $color-gray-light;
    }
    &.active>a{
      font-size: $font-size-big;
      c: $color-primary;
    } 
  }

  span.tag {
    d: inline-block;
    padding: 0 6px;
    c: $label-color;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: $border-radius-small;
    cursor: pointer;
  }
  @mixin tag-variant primary;
  @mixin tag-variant success;
  @mixin tag-variant info;
  @mixin tag-variant warning;
  @mixin tag-variant error;
}

