@import './variable.css';

@define-mixin tag-variant $type {
  .tag.tag-$(type) {
    bg: $color-$(type);
    &:hover {
      background: color($color-$(type) tint(15%));
    }
    &:active {
      background: color($color-$(type) shade(5%));
    }
  }
}

@define-mixin icon-variant $type {
  .icon-$(type) {
    &:hover,&.active {
      c: $color-$(type);
    }
  }
}

@define-mixin box-border {
  box-sizing:border-box;
  -moz-box-sizing:border-box; 
  -webkit-box-sizing:border-box; 
}

/* display:flex;align-items: ;justify-content: ;的简写*/
@define-mixin fja $a:center, $j:flex-start{
  d: flex;
  align-items: $a;
  justify-content: $j;
}

@define-mixin vue-transition-fade $duration:.5s {
  .fade-enter-active, .fade-leave-active {
    transition: opacity $duration;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }
}