/* mixin.css */

@import './variable.css';

@define-mixin tag-variant $type {
  .tag.tag-$(type) {
    bg: $color-$(type);
    &:hover {
      background: color($color-$(type) tint(15%));
    }
    &:active {
      background: color($color-$(type) shade(5%));
    }
  }
}

@define-mixin icon-variant $type {
  .icon-$(type) {
    &:hover,&.active {
      c: $color-$(type);
    }
  }
}

@define-mixin btn-item-variant $type{
  &.$(type):hover {
    c: $color-$(type);
    border-color: $color-$(type);
    &+.btn-item {
      border-left: 1px solid $color-$(type);
    }
  }
  &.$(type).active i{
    c: $color-$(type);
  }
}

@define-mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}

@define-mixin box-border {
  box-sizing:border-box;
  -moz-box-sizing:border-box; 
  -webkit-box-sizing:border-box; 
}

@define-mixin size $width:100%, $height:100% {
  w: $width;
  h: $height;
}

@define-mixin full-size {
  w: 100%;
  h: 100%;
}

/* display:flex;align-items: ;justify-content: ;的简写*/
@define-mixin fja $j:flex-start,$a:center{
  d: flex;
  align-items: $a;
  justify-content: $j;
}

@define-mixin vue-transition-fade $duration:.5s {
  .fade-enter-active, .fade-leave-active {
    transition: opacity $duration;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }
}

/* icons */
@define-mixin icon $size-type {
  @if $size-type == xs {
    @mixin icon-size $size-type, 16px;
  } 
  @if $size-type == sm {
    @mixin icon-size $size-type, 24px;
  } 
  @if $size-type == bs {
    @mixin icon-size $size-type, 32px;
  } 
  @if $size-type == lg {
    @mixin icon-size $size-type, 40px;
  }
  @if $size-type == xl {
    @mixin icon-size $size-type, 48px;
  }
}

@define-mixin icon-size $size-type, $size{
  .icon-$(size-type) {
    display: inline-block;
    w: $size;
    h: $size;
    line-height: $size;
    text-align: center;
    border-radius: calc($size / 2);
    fs: calc($size / 2);
  }
}

/* 灰色的图标 */
@define-mixin icon-gray $type{
  .icon>.icon-gray-$type {
    c: #fff;
    bg: $color-gray-lightest;
    &:hover {
      c: $color-$(type);
      bg: $content-bg-color-base;
      &+.tips {
        visibility: visible;
        c: $color-error;
        bg: $content-bg-color-base;
      }
    }
  }
}
