@import './variable.css';

@define-mixin tag-variant $type {
  .tag.tag-$(type) {
    bg: $color-$(type);
    &:hover {
      background: color($color-$(type) tint(15%));
    }
    &:active {
      background: color($color-$(type) shade(5%));
    }
  }
}