/* variable.css */

@import './rucksack.css';

/* common */
$theme-type: primary,info, success, warning, error;
$size-type: xs, sm, bs, lg, xl;

$font-size-base: 14px;
$font-size-big: 16px;
$font-size-biger: 18px;

$font-size-h6: 12px;
$font-size-h5: $font-size-base;
$font-size-h4: 20px; 
$font-size-h3: 24px; 
$font-size-h2: 30px; 
$font-size-h1: 36px; 

$color-gray-lightest: #e6e6e6;
$color-gray-lighter: #ccc;
$color-gray-light: #999;
$color-gray-base: #777;
$color-gray-dark: #4A4A4A;
$color-gray-darker: #333;
$color-gray-darkest: #1A1A1A;

$color-primary: #337ab7;
$color-success: #5cb85c;
$color-info: #5bc0de;
$color-warning: #f0ad4e;
$color-error: #d9534f;
$color-tips: #FF6600;
$color-black: #000;

$sep-line-color-base: $color-gray-lightest;

$text-color-base: $color-gray-dark;

$content-bg-color-base: #F8F8F8;

$nav-item-hover-color-default: $color-gray-lightest;

$border-color-grey-lightest: $color-gray-lightest;

$label-color: #fff;

$border-radius-base: 5px;
$border-radius-small: 3px;

/* nav */
$nav-height: 50px;
$nav-bg-color: $content-bg-color-base;

/* footer */
$footer-height: 60px;

/* icon */
$icon-size-xs: 16px;
$icon-size-sm: 24px;
$icon-size-bs: 32px;
$icon-size-lg: 40px;